body {
    background-image: linear-gradient(
        131.7deg,
        rgba(143,211,244,1) 100%,
        rgba(132,250,176,1) 0%
    );
    width: 100vw;                                                      
}

main { 
    display: contents;
    height: 100%;
    text-decoration-line: none;
}
main > section img{
    border-radius: 40px;
    height: 280px;
    width: 290px;
}

main > button {
    object-position: fixed;
    align-items: center;
    background-color: rgba(24,63,100,0.24);
    border-radius: 49px;
    color: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif; 
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;    
    margin-left: 400px;
    margin-top: 80px;
    padding: 10px 40px;
        
}

#detalhes-container1{
    color: black;
    font-family: 'Montserrat', sans-serif;            
    font-size: 17px;
    font-style: normal;
    font-weight: bolder;
    height: 60%;
    letter-spacing: 1px;
    list-style-type: none;        
    width: 350px;
}
#detalhes-container1 > li {
    align-items: baseline;
    display: flex;
    line-break: strict;
}

#detalhes-container2{
            
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;           
    font-size: 17px;
    font-style: normal;
    font-weight: bolder;
    height: 60px;
    letter-spacing: 0.25px;
    list-style-type: none;
    width: 400px;                  
}
#detalhes-container2 > li {
    align-items: baseline;
    display: flex;
    line-break: strict;
}
#detalhes-container3{

    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;            
    font-size: 17px;
    font-style: normal;
    font-weight: bolder;
    height: 60px;
    letter-spacing: 0.25px;
    list-style-type: none;
    width: 400px;
}
#detalhes-container3 > li {
    align-items: baseline;
    display: flex;
    line-break: strict;
}